/** Grid system - https://www.w3schools.com/css/css_rwd_grid.asp **/
* {
    box-sizing: border-box;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
 
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

[class*="col-"] {
    float: left;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/** Image - https://www.w3schools.com/css/css_rwd_grid.asp **/   
img {
    max-width: 100%;
    height: auto;
}

/** Overflow (for tables) - https://www.w3schools.com/howto/howto_css_table_responsive.asp **/
.overflow {
    overflow-x:auto;
}

html{
  /*background-color: lightgray;*/
  font-family: "Bahnschrift";
}

body{
    width: 100%;
    margin: 0;
    padding: 0;
}

.parallax {
  /* The image used */
  background-image: url("sky.jpg");
  /* Set a specific height */
  min-height: 3750px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}


#sidebar{
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 50px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  background-color: #698994;
  border-right: #f1f1f1;
  height: 100%;
  color: antiquewhite;
  text-align: center;
  border-right: 10px solid #4e2323;
  margin-right: 15px;
}
#tabs{
  text-align: right;
  font-size: x-large;
  position: relative; left: -10%;
  /*padding-bottom: 5%;*/
}
/* When you mouse over the navigation links, change their color */
#tabs :hover {
  background-color: #000000;
}

  /* THIS REMOVES THE UNDERLINE */
  a:link{
    color: antiquewhite;
    text-decoration: none!important;
  }
  /* THIS REMOVES THE PURPLE (VISITED) TEXT COLOR */
  a:visited{
    color: antiquewhite;
    text-decoration: none!important;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  /*@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }*/

  #mainContent{
    padding-left: 16.66%;
  }

  #contactTitle{
    text-align: center;
    color: #29333d;
    padding: 5%;
  }
  #contactSection{
    text-align: center;
    background-color: #29333d;
    color: white;
    padding: 5%;
    margin-bottom: 3%;
  }

  #aboutTitle{
    text-align: center;
    color: #4e2323;
    padding: 5%;
  } 
  #aboutSection{
    color: #4e2323;
    background-color: #4e2323;
    margin-bottom: 10%;
  }
  #biography{
    background-color: white;
    padding: 5%;
  }

  #portfolioTitle{
    text-align: center;
    color: #4e2323;
    padding: 5%;
    padding-bottom: 10%;
  }
  #portfolioSection{
    margin-bottom: 10%;
    background-color: #4e2323;
  }

  #homeTitle{
    text-align: center;
    color: #4e2323;
    padding: 5%;
    margin-bottom: 10%;
  }
  #homeSection{
    background-color: #ffffff;
    padding: 5%;
    color: #000000;
    /*margin-left: 2%;
    margin-right: 2%;*/
    margin-bottom: 20%;
  }

  ::-webkit-scrollbar{
    width: 0px;
  }

  hr{
    overflow: visible;
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px
  }
  hr::before{
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
  }

.fa{
  padding-right: 3%!important;
  padding-right: 3%!important;
  position: relative;
  bottom: 0px;
  left: 0;
  right: 0;
  align-items: center;
}

#icons{
  padding-left: 2%;
  padding-right: 2%;
  position:fixed; bottom: 3%;
}

#descriptions{
  background-color: white;
  padding: 5%;
  margin-bottom: 5px;
}