/** Grid system - https://www.w3schools.com/css/css_rwd_grid.asp **/
* {
    box-sizing: border-box;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
 
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/** Image - https://www.w3schools.com/css/css_rwd_grid.asp **/   
img {
    max-width: 100%;
    height: auto;
}

/** Overflow (for tables) - https://www.w3schools.com/howto/howto_css_table_responsive.asp **/
.overflow {
    overflow-x:auto;
}

html{
    background-color: antiquewhite;
    font-family: "Bahnschrift";
}

body{
    color:antiquewhite;
}

.parallax {
  /* The image used */
  background-image: url("coconutcrab.png");
  

  /* Set a specific height */
  min-height: 4000px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

  #sidebar{
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    background-color:#493b37;
    height: 100%;
    color: antiquewhite;
  }
  /* THIS REMOVES THE UNDERLINE */
  a:link{
    color: antiquewhite;
    text-decoration: none!important;
  }
  /* THIS REMOVES THE PURPLE (VISITED) TEXT COLOR */
  a:visited{
    color: antiquewhite;
    text-decoration: none!important;
  }
  
  /* The navigation menu links PROBABLY DONT NEED*/
  /*.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  #sidebar :hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  /*.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }*/
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  /*#main {
    transition: margin-left .5s;
    padding: 20px;
  }*/
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  /*@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }*/

  /*#mainContent{
    background-color: lightgrey;
  }*/

  #contactSection{
    text-align: center;
    background-color: #4e2323;
  }

  #aboutSection{
    background-color: lightgray;
  }

  #aboutTitle{
    text-align: center;
    color: #4e2323;
  }

  #biography{
    background-color: #4e2323;
  }

  #portfolioSection{
    background-color: #4e2323;
  }